.text-author { color: var(--authorColor) !important; font-weight: 700;}

#BlogPage .announcement-btn { color: #af4040 !important; }
#BlogPage .new-post-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 4px 8px;
  color: var(--newPostText);
  background-color: var(--newPostBG);
  border: 1px solid var(--newPostBorder);
  border-radius: 6px;
  margin-bottom: 12px;
  cursor: pointer;
}
#BlogPage .new-post-btn:hover { transform: scale(1.035); }
#BlogPage .edit-post-btn {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 2px 8px;
  color: #a14c4c;
  background-color: #fdf4dd;
  border: 2px solid #ccc292;
  border-radius: 6px;
  margin-left: 12px;
  cursor: pointer;
}
#BlogPage .edit-post-btn:hover { transform: scale(1.035); }

#BlogPage .bg-announcement { background-color: var(--forumHeaderBG) !important; }
#BlogPage .header-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2px 6px;
  color: var(--headerText);
  background-color: var(--subforumheaderBG);
  border-radius: 3px;
  margin-bottom: 0.5em;
}
#BlogPage .header-title a {
  color: var(--headerText);
}
#BlogPage .header-title button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#BlogPage .forum-section {
  margin-bottom: 1.4em;
}

#BlogPage .pinned-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px 12px;
}
#BlogPage .pinned-post {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  min-height: 140px; max-height: 140px;
  min-width: auto; max-width: 420px;
  color: var(--postText);
  background-color: var(--postBG);
  border-right: 2px solid khaki;
  border-bottom: 2px solid khaki;
  border-radius: 12px;
  margin: 0 4px 6px 4px;
  cursor: pointer;
}
#BlogPage .pinned-post:hover {
  background-color: var(--pinHover);
  background-color: var(--postHover);
  border-right: 2px solid #cec46e;
  border-bottom: 2px solid #cec46e;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.05);
}
#BlogPage .pinned-post-title {
  font-size: 1.1em;
  border-radius: 0 8px 0px 0;
  margin-bottom: 0px;
}
#BlogPage .pinned-post-author {
  font-size: 0.9em;
  border-radius: 0 0px 8px 0;
  margin-bottom: 4px;
  text-transform: capitalize;
}
#BlogPage .pinned-post-body {
  font-size: 0.9em;
}
#BlogPage .pinned-post-date {
  color: #888;
  font-size: 14px;
  text-align: right;
}
#BlogPage .lock-btn {
  margin-left: 12px;
}
#BlogPage .post {
  display: flex;
  flex-direction: column;
  padding: 6px;
  min-height: 40px;
  color: var(--postText);
  background-color: var(--postBG);
  border-right: 2px solid khaki;
  border-bottom: 2px solid khaki;
  border-radius: 6px;
  cursor: pointer;
}
#BlogPage .post:hover {
  background-color: var(--postHover);
  border-right: 2px solid #cec46e;
  border-bottom: 2px solid #cec46e;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}
#BlogPage .post-title {
  font-size: 1.1em;
  font-weight: bold;
  padding: 0 4px;
  margin-bottom: 0;
}
#BlogPage .post-author {
  color: var(--authorColor);
  font-size: 0.9em;
  padding: 0 4px;
  margin-bottom: 0;
  text-transform: capitalize;
}
#BlogPage .post-body {
  font-size: 0.9em;
  padding: 0 4px;
}
#BlogPage .post-date {
  color: #888;
  font-size: 13px;
  text-align: right;
  padding: 0 4px;
}

.paginate, .paginate-comment{
  display: flex;
  align-items: baseline;
  padding: 2px 12px;
}
.paginate button{
  padding: 4px 14px;
  color: #fff;
  background-color: #4b463e;
  border-color: #ffffff;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
}
.paginate-comment button{
  font-size: 0.5em;
  padding: 4px 14px;
  color: #fff;
  background-color: #332c20;
  border-color: transparent;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
}
.paginate span, .paginate-comment span{
  font-size: 0.8em;
  padding: 4px 12px;
}

#BlogPage .ql-editor { min-height: 60vh; font-size: 16px; }
#BlogPage .newPost input[type=text] {
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 6px;
  color: #4b4723;
  background-color: var(--subforumheaderBG);
  min-width: 200px;
}
#BlogPage .newPost .submit-btn{
  padding: 4px 14px;
  color: #fff;
  background-color: #4b463e;
  border-color: #ffffff;
  border-radius: 6px;
  margin-top: 8px;
  cursor: pointer;
}

/* Comments Section */
#CommentsSection {
  padding-bottom: 22px; }
#CommentsSection h4 {
  text-decoration: underline;
  margin-bottom: 12px;
}
#CommentsSection .post-locked-true {
  text-decoration: none;
  color: #999;
}
#CommentsSection .comment {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.8em;
  padding: 6px;
  /* max-width: 420px; */
  background-color: #eed7ac54;
  border: 2px solid var(--postBG);
  border-radius: 6px;
  box-shadow: 2px 6px #eec1ac5e;
  margin-bottom: 8px;
}
#CommentsSection .sub-comment {
  background-color: #eec1ac54;
  box-shadow: none;
  margin-left: 18px;
}
#CommentsSection .comment .comment-user-pic {
  font-size: 2.5em;
  padding: 6px 8px;
  border: 2px solid #333;
  border-radius: 28px;
  margin-right: 6px;
  width: 75px;
  height: 75px;
  text-align: center;
}

#CommentsSection .comment .comment-author {
  font-weight: 600;
  color: #925858;
  margin-right: 8px;
  cursor: pointer;
  text-transform: capitalize;
}
#CommentsSection .comment .comment-author:hover {
  text-decoration: underline;
}
#CommentsSection .comment .comment-date {
  font-weight: 300;
  color: #777;
}
#CommentsSection .comment .comment-body {
  margin-left: 6px;
}
#CommentsSection .comment-reply {
  color: #925858;
  background-color: transparent;
  border-color: wheat;
  border-radius: 6px;
  margin-left: 12px;
  cursor: pointer;
}
#CommentsSection .comment-reply-btn {
  align-self: flex-end;
  font-size: 0.7em;
  padding: 4px 8px;
  color: #925858;
  background-color: transparent;
  border: 1px solid #ccc2926b;
  border-radius: 6px;
  margin-left: auto;
  cursor: pointer;
}
#CommentsSection .comment-edit-btn {
  position: absolute;
  right: 32px; top: 4px;
  font-size: 0.7em;
  padding: 4px 8px;
  color: #9b3f3f;
  background-color: transparent;
  border: 1px solid #ccc2926b;
  border-radius: 6px;
  cursor: pointer;
}
#CommentsSection .comment-remove-btn {
  position: absolute;
  right: 0; top: 4px;
  font-size: 0.7em;
  padding: 4px 8px;
  color: #9b3f3f;
  background-color: transparent;
  border: 1px solid #ccc2926b;
  border-radius: 6px;
  cursor: pointer;
}

#CommentsSection .comment-form {
  min-width: 320px; max-width: 720px;
  margin-bottom: 16px;
}
textarea::placeholder { font-family: 'Hind', sans-serif; }
#CommentsSection .comment-form textarea:focus {
  outline-color: var(--postBG);
  border-bottom: 4px solid khaki;
}
#CommentsSection .comment-form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid khaki;
  width: 100%; 
  min-width: 100%; max-width: 720px;
  min-height: 40px; max-height: 40px;
  resize: none;
}
#CommentsSection .comment-form .btn-container {
  text-align: right;
}
#CommentsSection .comment-form button {
  display: inline-block;
  padding: 4px 8px;
  color: #925858;
  background-color: transparent;
  border-color: #ccc29257;
  border-radius: 6px;
  margin: 2px 4px;
  cursor: pointer;
}
#CommentsSection .comment-form button:first-of-type {
  font-weight: 600;
  color: #666;
  border: none;
}
#CommentsSection .comment-form button:last-of-type {
  font-weight: 600;
  background-color: #f8f1e2;
}

/* Media queries */

/* Medium devices (landscape tablets, 720px - 1023px) */
@media only screen and (min-width: 721px) and (max-width: 1023px) {
  #BlogPage .pinned-post:last-child { border-right: none; }
  #BlogPage .post { flex-direction: row; align-items: center; }
  #BlogPage .post-title { font-size: 0.7em; }
  #BlogPage .post-author { font-size: 0.6em; }
}
/* laptop devices (landscape tablets, 1024px - 1439px) */
@media only screen and (min-width: 1024px) {
  #BlogPage .pinned-post {
    min-height: 120px; max-height: 140px;
    min-width: 320px; max-width: 320px;
  }
  #BlogPage .pinned-post:last-child {
    border-left: 2px solid khaki;
    border-right: none;
  }
  #BlogPage .pinned-post-title { font-size: 0.9em; }
  #BlogPage .pinned-post-author { font-size: 0.8em; }
  #BlogPage .pinned-post-body { font-size: 16px; }
  #BlogPage .post { flex-direction: row; align-items: center; }
  #BlogPage .post-title { font-size: 0.85em; }
  #BlogPage .post-author { font-size: 0.7em; }
  #BlogPage .post-body { font-size: 16px; }
  #BlogPage .post-date { font-size: 14px; text-align: left; }
}