#LoginPage .login-form {
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: auto;
}
#LoginPage .login-form input {
  font-family: 'Hind', sans-serif;
  padding: 4px 8px;
  border: 1px solid var(--newPostBorder);
  border-radius: 4px;
  outline-color: #3a425c;
  margin-bottom: 12px;
}
#LoginPage .login-form button {
  font-family: 'Hind', sans-serif;
  color: #eeeeee;
  padding: 6px 12px;
  max-width: 120px;
  background-color: #3a425c;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
}

#LatestUser {
  color: #555;
}

.members {
  padding: 2px 6px;
  color: #364b50;
  text-transform: capitalize;
}
.allUsers {
  padding: 8px;
  max-width: 320px;
  text-align: center;
  border: 1px solid #aaaaaa41;
  border-radius: 12px;
  margin: 12px;
  cursor: pointer;
  color: var(--postText);
  height: 200px;
  display: flex;
  flex-direction: column;
}

#AllUsers .profile-pic {
  width: 125px;
  height: 125px;
  font-size: 3.5em;
  padding: 12px;
  border: 2px solid #555;
  border-radius: 22px;
  margin: auto;
}

.user {
  padding: 2px 6px;
  color: var(--authorColor);
  cursor: pointer;
  text-transform: capitalize;
}
.user:hover {
  text-decoration: underline;
  transform: scale(1.025);
}

#LatestUser .user::after {
  content: ", ";
}

#LatestUser .user:last-of-type::after {
  content: "";
}

#UserProfile .profile-pic {
  width: auto;
  height: auto;
  max-height: 200px;
  font-size: 6em;
  padding: 12px;
  border: 2px solid #555;
  border-radius: 22px;
  margin: auto;
}

#UserProfile .latest-comments {
  display: flex;
  flex-wrap: wrap;
}
#UserProfile .latest-comments > button {
  font-size: 0.9em;
  padding: 4px 8px;
  text-align: left;
  box-shadow: 2px 6px #927d6434;
  border-width: 1px;
  border-radius: 2px;
  margin: 2px 6px;
  cursor: pointer;
}

.login-btn {
  font-size: 0.75em;
  font-weight: 500;
  color: #706017;
  background-color: transparent;
  padding: 1px 6px;
  border: 2px solid #db7c6f;
  border-radius: 14px;
  /* margin-left: 22px; */
  text-decoration: none !important;
  cursor: pointer;
}
.login-btn:hover {
  transform: scale(1.02);
}
.login-btn i {
  color: #f3705f;
  margin-right: 4px;
}

.image-btn {
  font-size: 0.75em;
  font-weight: 500;
  color: #224b41;
  background-color: transparent;
  padding: 1px 6px;
  border: 2px solid #6fdbc0;
  border-radius: 14px;
  /* margin-left: 22px; */
  text-decoration: none !important;
  cursor: pointer;
}
.image-btn:hover {
  transform: scale(1.02);
}
.image-btn i {
  color: #f3705f;
  margin-right: 4px;
}

#AdminPanel {
  padding: 8px;
  color: #364b3f;
  /* text-shadow: 0 0 1px #283d50; */
  background-color: #dcf1e585;
  border-radius: 6px;
}
#AdminPanel button {
  font-family: 'Hind', sans-serif;
  padding: 2px 8px;
  color: #fff;
  background-color: #9ab8ca;
  border-width: 1px;
  border-color: #4b5b64;
  border-radius: 4px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.05);
}

.modal-form {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  margin: auto;
}
.modal-form input, .modal-form select {
  font-family: 'Hind', sans-serif;
  padding: 4px 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline-color: #3a425c;
  margin-bottom: 12px;
}
.modal-form button {
  font-family: 'Hind', sans-serif;
  color: #eeeeee;
  padding: 6px 12px;
  max-width: 120px;
  background-color: #414655;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
}

.all-forums {
  display: flex;
  flex-wrap: wrap;
}
.forum {
  padding: 12px;
  border-right: 2px solid #70601752;
  border-bottom: 1px solid #70601742;
  border-radius: 8px;
  margin: 4px;
}
.forum-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6px;
}
.forum-menu button {
  padding: 2px 4px;
  color: #ffffff !important;
  background-color: #636260 !important;
  border: 1px solid #ddcfbe;
  border-radius: 6px;
  margin: 2px 2px;
  cursor: pointer;
}
.subforum { font-weight: 500; text-transform: capitalize; margin-right: 2px; }
.subforum::after {
  content: ", ";
}
.subforum:last-of-type::after {
  content: "";
}